<div class="settings-div">
	<section>
	  <div class="settings-container">
		<h1 class="inicia-sesion">Cambia tu contraseña</h1>
		<div class="loginForm">
		  <p class="p-login-account">Contraseña antigua</p>
		  <input type="password" placeholder="old password" [(ngModel)]="password" />
		  <p class="p-login-account">Nueva contraseña</p>
		  <input type="password" placeholder="new password" [(ngModel)]="newPassword" />
		</div>
		<button class="login-button" (click)="handlePasswordChange()">Aceptar</button>
		<button class="login-button" (click)="volver()">Volver</button>
	</div>
</section>
</div>
  