<div class="turno">
  <button *ngIf="this.parteTurno == 'espera-resto'" (click)="turnoService.setParteTurno('es-tu-turno')">Iniciar partida</button>

  <div *ngIf="this.parteTurno == 'es-tu-turno'">
    <h1 class="tu-turno-texto">Es tu turno</h1>
    <script>
      setTimeout(() => {
        turnoService.setParteTurno('dados');
      }, 2000);
    </script>
  </div>
  
  <temporizador *ngIf="['dados', 'elegir-casilla', 'elegir-pregunta'].includes(this.parteTurno)" [tiempo]="45" (temporizadorDone)="finTemporizador()"></temporizador>


  <div id="turno-dados" *ngIf="turnoService.parteTurno == 'dados'">
    <dados buttonText="Tirar los dados"></dados>
    <h1 *ngIf="turnoService.dados != undefined">Has sacado un {{ turnoService.dados }}</h1>
  </div>

  <div id="turno-tablero" *ngIf="turnoService.parteTurno == 'elegir-casilla'">
    <h1>¡Elige una casilla!</h1>
  </div>

  <div id="turno-cartas" class="{{ claseTipoPregunta }}" *ngIf="turnoService.parteTurno == 'elegir-pregunta'">
    <button class="turno-boton-acusacion-final {{ claseTipoPregunta }}" (click)="toggleTipoPregunta()">
      {{ tipoPregunta ? 'Cambiar a sospecha' : 'Cambiar a acusación final' }}
    </button>
    <h1>Haz tu pregunta:</h1>
    <div class="container-cartas">
      <div class="carta-quien">
        <h2 class="pregunta">¿Quién lo hizo?</h2>
        <carrusel [options]="gameInfoService.characters" (onChange)="onChange($event, 'who')"></carrusel>
      </div>
      <div class="carta-arma">
        <h2 class="pregunta">¿Con qué lo hizo?</h2>
        <carrusel [options]="gameInfoService.guns" (onChange)="onChange($event, 'what')"></carrusel>
      </div>
      <div class="carta-donde">
        <h2 class="pregunta">¿Dónde lo hizo?</h2>
        <carrusel [options]="[roomSelected, 'a']" (onChange)="onChange($event, 'where')"></carrusel>
      </div>
    </div>

    <button class="turno-boton-sospecha {{ claseTipoPregunta }}" (click)="finTurnoPregunta()">
      {{ tipoPregunta ? 'Realizar acusación final' : 'Realizar sospecha' }}
    </button>
  </div>
</div>