<!-- 
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Imagen en HTML</title>
</head>
<body>
  Ruta relativa a la imagen en el mismo directorio 
  <img src="../../public/logo.png" alt="Descripción de la imagen">
  
   Ruta absoluta a la imagen -->
  <!-- <img src="https://example.com/ruta/de/la/imagen.jpg" alt="Descripción de la imagen"> 
</body>
</html>
  -->

  <div id="container"></div>
  <!-- <button (click)="moveCard()">Mover Tarjeta</button> -->
  <!-- <app-tarjeta *ngIf="showCard"></app-tarheta> -->
  