<!-- <p>todas-cartas works!</p> -->
<div class="showcartas-container">
    <app-carta playerName="mr soper"></app-carta>
    <app-carta playerName="miss redes"></app-carta>
    <app-carta playerName="mr prog"></app-carta>
    <app-carta playerName="miss fisica"></app-carta>
    <app-carta playerName="mr discreto"></app-carta>
    <app-carta playerName="miss ia"></app-carta>
  
    <app-carta playerName="teclado"></app-carta>
    <app-carta playerName="cable de red"></app-carta>
    <app-carta playerName="cafe envenenado"></app-carta>
    <app-carta playerName="router afilado"></app-carta>
    <app-carta playerName="troyano"></app-carta>
    <app-carta playerName="cd"></app-carta>
  
    <app-carta playerName="cafeteria"></app-carta>
    <app-carta playerName="baños"></app-carta>
    <app-carta playerName="recepcion"></app-carta>
    <app-carta playerName="escaleras"></app-carta>
    <app-carta playerName="biblioteca"></app-carta>
    <app-carta playerName="laboratorio"></app-carta>
    <app-carta playerName="despacho"></app-carta>
    <app-carta playerName="aulas norte"></app-carta>
    <app-carta playerName="aulas sur"></app-carta>
  
    <app-carta playerName="back"></app-carta>
    <app-carta playerName="back"></app-carta>
    <app-carta playerName="back"></app-carta>
    <app-carta playerName="back"></app-carta>
    <app-carta playerName="back"></app-carta>
    <app-carta playerName="back"></app-carta>
  </div>