<div class="cartadesplegable-body" >
    <!-- <app-desplegable [left_initial]="true" (setStyle)="toggleDesplegable()"></app-desplegable> -->
    <div class="cartadesplegable-cart-container">
      <!-- <app-carta [player_name]="getRandomObject()" [hover]="false"></app-carta>
      <app-carta [player_name]="getRandomObject()" [hover]="false"></app-carta>
      <app-carta [player_name]="getRandomObject()" [hover]="false"></app-carta> -->
      <app-carta ></app-carta>
      <!-- Añade más cartas según sea necesario -->
    </div>
</div>