.dados {
  text-align: center;
  background-color: #a6b8ff;
  height: 275px;
  width: 443px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
}

.dados div {
  margin-top: 30px;
}

.dados img {
  width: 100px; /* Cambia esto para ajustar el tamaño del dado */
  height: 100px; /* Cambia esto para ajustar el tamaño del dado */
  margin: 10px; /* Añade margen alrededor de cada dado */
}

.cuadrado{
  width: 400px; /* Cambia el valor según tus necesidades */
  height: 400px; /* Igual que el ancho para hacer un cuadrado */
  background-color: white; /* Establece el color de fondo a blanco */
  display: flex; /* Usa flexbox para centrar el contenido */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; 
}
.dados button {
  display: block;
  margin: 0px auto;
  padding: 10px 20px;
}