.dados {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  text-align: center;
}

.dados img {
  width: 100px; /* Cambia esto para ajustar el tamaño del dado */
  height: 100px; /* Cambia esto para ajustar el tamaño del dado */
  margin: 10px; /* Añade margen alrededor de cada dado */
}

.cuadrado{
  width: 400px; /* Cambia el valor según tus necesidades */
  height: 400px; /* Igual que el ancho para hacer un cuadrado */
  background-color: white; /* Establece el color de fondo a blanco */
  display: flex; /* Usa flexbox para centrar el contenido */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; 
}
.dados button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
}