<ng-container *ngIf="showCardsService.hasToShow">
  <div class="carta-shower" [style.padding]="showCardsService.isCardElection ? '20px' : ''">
    <h1>{{ showCardsService.text }}</h1>
    <h3><em>{{ showCardsService.subtext }}</em></h3>
    <div class="carta-shower-container">
      <ng-container *ngFor="let carta of showCardsService.selectCardsToShow; let i = index">
        <div *ngIf="!showCardsService.isCardElection" 
             [style.opacity]="carta === '' ? 0 : 1" 
             [style.transition]="carta === '' ? 'none' : ''" 
             class="carta">
          <app-carta [player_name]="carta"></app-carta>
        </div>
        <div *ngIf="showCardsService.isCardElection" 
             (click)="onClickedCardLocal(carta)" 
             [class]="showCardsService.blockCards.includes(carta) ? 'carta blocked' : 'carta not-blocked'">
          <app-carta [player_name]="carta"></app-carta>
        </div>
      </ng-container>
    </div>
    <button *ngIf="!showCardsService.isCardElection" class="carta-shower-button" (click)="showCardsService.hasToShow = false">
      Cerrar
    </button>
  </div>
</ng-container>