<!-- <p>cartas-show works!</p> -->
<div *ngIf="this.showCardsService.hasToShow" class="carta-shower" [style.padding]="showCardsService.isCardElection ? '20px' : ''">
<!-- <div class="carta-shower" [style.padding]="showCardsService.isCardElection ? '20px' : ''"> -->
    <h1>{{ showCardsService.text }}</h1>
    <h3><em>{{ showCardsService.subtext }}</em></h3>
    <div class="carta-shower-container">
      <div *ngFor="let carta of showCardsService.selectCardsToShow; let i = index"
           class="getCardClass(i)"
           (click)="onClickedCardLocal(carta)">
        <app-carta [player_name]="carta" ></app-carta>
      </div>
    </div>
    <button *ngIf="!showCardsService.isCardElection" class="carta-shower-button" (click)="showCardsService.hasToShow = false">
      Cerrar
    </button>
  </div>
  