<nav class="navbar-game">
  <div class="burger" (click)="toggleMenu()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      [attr.stroke-width]="1.5"
      [attr.stroke]="isOpen ? 'white' : 'currentColor'"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
      ></path>
    </svg>
  </div>

  <div *ngIf="isOpen" class="menu">
  <!-- <div class="menu"> -->
    <p (click)="abandonarPartida()">Abandonar partida</p>
    <p (click)="pausarPartida()">
      {{ gameService.isPausedGame() ? 'Reanudar partida' : gameService.isRequestedPause() ? 'Pausa solicitada' : 'Pausar partida' }}
    </p>
    <p>¡Suerte {{ this.user }}!</p>
  </div>
</nav>
