.toolbar {
    color: white; /* Texto blanco */
    position: fixed; /* Posición fija */
    top: 0; /* Alinear en la parte superior */
    left: 0; /* Alinear a la izquierda */
    right: 0; /* Alinear a la derecha */
    width: 100%; /* Ancho completo */
    z-index: 1000; /* Índice z alto para que esté por encima de otros elementos */
    height: 30px;
  }

.example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }