.toolbar {
    /* color: white; Texto blanco */
    color:  #1315a2;
    position: fixed; /* Posición fija */
    top: 0; /* Alinear en la parte superior */
    left: 0; /* Alinear a la izquierda */
    right: 0; /* Alinear a la derecha */
    width: 100%; /* Ancho completo */
    z-index: 1000; /* Índice z alto para que esté por encima de otros elementos */
    height: 30px;
  }

.menu-button {
    margin-left: auto;
}

.trespuntos{
}
.custom-button {
  background-color: inherit;
  margin-left: auto;
}

.custom-button .mat-icon {
  color: white; 
}