<form class='input-message-container' (ngSubmit)="enviarMensaje()">
	@if (showGifPicker) {
	<div class='gif-container'>
	
		<!-- <app-gifs-page></app-gifs-page> -->
		<button class='button-chat close-gif 'type='button' (click)="setShowGifPicker(false)">Cerrar</button>
	</div>
	}@else{
		<button class='button-chat open-gif' type='button'(click)="setShowGifPicker(true)" >
		GIFs
		</button>
		<input
		class='input-message'
		type="text"
		placeholder="escribe aquí..."
		[(ngModel)]="message"
		[ngModelOptions]="{standalone: true}"
		/>
		<button class="button-chat" type='button' (click)="enviarMensaje()" >Enviar</button>
	}
</form>