<td class="elemento"> {{ name }} </td>
<!-- <td> <app-table-cell [state]="tachado ? 1 : 0"> </app-table-cell></td>
<td> <app-table-cell [state]="tachado ? 1 : 0"> </app-table-cell></td>
<td> <app-table-cell [state]="tachado ? 1 : 0"> </app-table-cell></td>
<td> <app-table-cell [state]="tachado ? 1 : 0"> </app-table-cell></td>
<td> <app-table-cell [state]="tachado ? 1 : 0"> </app-table-cell></td>
<td> <app-table-cell [state]="tachado ? 1 : 0"> </app-table-cell></td>
<td> <app-table-cell [state]="tachado ? 1 : 0"> </app-table-cell></td> -->






<!-- <tr>
    <td class="elemento" (click)="handleClick()"> {{ name }} </td>
    <app-table-cell [state]="tachado ? 1 : 0"></app-table-cell>
    <app-table-cell [state]="tachado ? 1 : 0"></app-table-cell>
    <app-table-cell [state]="tachado ? 1 : 0"></app-table-cell>
    <app-table-cell [state]="tachado ? 1 : 0"></app-table-cell>
    <app-table-cell [state]="tachado ? 1 : 0"></app-table-cell>
    <app-table-cell [state]="tachado ? 1 : 0"></app-table-cell>
    <app-table-cell [state]="tachado ? 1 : 0"></app-table-cell>
  </tr> -->
