<div class="tarjeta" data-hidden="true" [style.right.px]="desplegado ? 0 : -354">
  <app-desplegable [componentePadre]="nombreComponente"  (desplegableClicked)="toggleDesplegado()"></app-desplegable>  
  <table class="tabla">
      <thead class="cabecera">
        <tr>
          <th></th>
          <th> <input type="text" [maxLength]="maxCharsHeader" [value]="textHeader" /> </th>
          <th> <input type="text" [maxLength]="maxCharsHeader" [value]="textHeader" /> </th>
          <th> <input type="text" [maxLength]="maxCharsHeader" [value]="textHeader" /> </th>
          <th> <input type="text" [maxLength]="maxCharsHeader" [value]="textHeader" /> </th>
          <th> <input type="text" [maxLength]="maxCharsHeader" [value]="textHeader" /> </th>
          <th> <input type="text" [maxLength]="maxCharsHeader" [value]="textHeader" /> </th>
          <th> <input type="text" [maxLength]="maxCharsHeader" [value]="textHeader" /> </th>
        </tr>
      </thead>
      <tbody id="table-body">

        <tr class="titulos"> <th > ¿QUIÉN? </th> </tr>
        <tr> <app-table-row name="mr SOPER"></app-table-row> </tr>
        <tr> <app-table-row name="mr REDES"></app-table-row> </tr>
        <tr> <app-table-row name="mr PROG"></app-table-row> </tr>
        <tr> <app-table-row name="mr FISICA"></app-table-row> </tr>
        <tr> <app-table-row name="mr DISCRETO"></app-table-row> </tr>
        <tr> <app-table-row name="mr IA"></app-table-row> </tr>
        
        <tr class="titulos"> <th > ¿CON QUÉ? </th> </tr>
        <tr> <app-table-row name="teclado"></app-table-row> </tr>
        <tr> <app-table-row name="teclado"></app-table-row> </tr>
        <tr> <app-table-row name="asfixiar con cable de red"></app-table-row> </tr>
        <tr> <app-table-row name="raton envenenado"></app-table-row> </tr>
        <tr> <app-table-row name="router afilado"></app-table-row> </tr>
        <tr> <app-table-row name="troyano"></app-table-row> </tr>
        <tr> <app-table-row name="lanzar cd"></app-table-row> </tr>
        
        <tr class="titulos"> <th > ¿DONDÉ? </th> </tr>
        <tr> 
          <app-table-row name="cafeteria"></app-table-row> 
        </tr>
        <tr> <app-table-row name="baños"></app-table-row> </tr>
        <tr> <app-table-row name="recepcion"></app-table-row> </tr>
        <tr> <app-table-row name="escaleras"></app-table-row> </tr>
        <tr> <app-table-row name="bibloteca"></app-table-row> </tr>
        <tr> <app-table-row name="laboratorio"></app-table-row> </tr>
        <tr> <app-table-row name="despacho"></app-table-row> </tr>
        <tr> <app-table-row name="aulas norte"></app-table-row> </tr>
        <tr> <app-table-row name="aulas sur"></app-table-row> </tr>
      
      </tbody>
        
  </table>
</div>