<div class="tarjeta" data-hidden="true" [style.right.px]="desplegado ? 0 : -354">
  <app-desplegable [componentePadre]="nombreComponente"  (desplegableClicked)="toggleDesplegado()"></app-desplegable>  
  <table class="tabla">
      <thead class="cabecera">
        <tr>
          <th></th>
          <th> <input type="text" [maxLength]="maxCharsHeader" [value]="textHeader" /> </th>
          <th> <input type="text" [maxLength]="maxCharsHeader" [value]="textHeader" /> </th>
          <th> <input type="text" [maxLength]="maxCharsHeader" [value]="textHeader" /> </th>
          <th> <input type="text" [maxLength]="maxCharsHeader" [value]="textHeader" /> </th>
          <th> <input type="text" [maxLength]="maxCharsHeader" [value]="textHeader" /> </th>
          <th> <input type="text" [maxLength]="maxCharsHeader" [value]="textHeader" /> </th>
          <th> <input type="text" [maxLength]="maxCharsHeader" [value]="textHeader" /> </th>
        </tr>
      </thead>
      <tbody id="table-body">

        <tr class="titulos"> <th > ¿QUIÉN? </th> </tr>

        @for (personaje of personajes; track personaje; let indexHeader = $index) {
          <tr>
            <td class="elemento" (click)="clickFila(obtenerIndexHeader(indexHeader, 'personajes'))"> {{personaje}} </td>
            @for (celda of tabla[0]; track celda; let index = $index) {
              <td class="celda" (click)="clickCelda(obtenerIndexHeader(indexHeader, 'personajes'), index)"
              [ngStyle]="{ 'background': obtenerColor(tabla[obtenerIndexHeader(indexHeader, 'personajes')][index].estado) }">
              {{obtenerSimbolo(tabla[obtenerIndexHeader(indexHeader, 'personajes')][index].estado)}}
            </td>
          }
          </tr>
        }
    
        <tr class="titulos"> <th > ¿CON QUÉ? </th> </tr>

        @for (arma of armas; track arma; let indexHeader = $index) {
          <tr>
            <td class="elemento" (click)="clickFila(obtenerIndexHeader(indexHeader, 'armas'))"> {{arma}} </td>
            @for (celda of tabla[0]; track celda; let index = $index) {
              <td class="celda" (click)="clickCelda(obtenerIndexHeader(indexHeader, 'armas'), index)"
              [ngStyle]="{ 'background': obtenerColor(tabla[obtenerIndexHeader(indexHeader, 'armas')][index].estado) }">
              {{obtenerSimbolo(tabla[obtenerIndexHeader(indexHeader, 'armas')][index].estado)}}
            </td>
          }
          </tr>
        }
        
        <tr class="titulos"> <th > ¿DONDÉ? </th> </tr>

        @for (lugar of lugares; track lugar; let indexHeader = $index) {
          <tr>
            <td class="elemento" (click)="clickFila(obtenerIndexHeader(indexHeader, 'lugares'))"> {{lugar}} </td>
            @for (celda of tabla[0]; track celda; let index = $index) {
              <td class="celda" (click)="clickCelda(obtenerIndexHeader(indexHeader, 'lugares'), index)"
              [ngStyle]="{ 'background': obtenerColor(tabla[obtenerIndexHeader(indexHeader, 'lugares')][index].estado) }">
              {{obtenerSimbolo(tabla[obtenerIndexHeader(indexHeader, 'lugares')][index].estado)}}
            </td>
          }
          </tr>
        }
      </tbody>

      <span>&#169; 2024 - Desarrollado por Grace Hopper</span>

  </table>
</div>