@if (!this.gameService.getCharacterSelection()&& (this.gameService.getStarted()==false)){
  <div class="game-characters-selection">
      <app-character-selection></app-character-selection>
      <!-- <app-turno></app-turno> -->

  </div>
}
@if (this.gameService.getCharacterSelection() && (this.gameService.getStarted()==false)) {
    <section class="start-game-button-main-angular">
        <div class="start-game-button-container-angular">
            <h1>Esperando a que empiece la partida...</h1>
            <h2>
                <u>ID de partida:</u> {{ this.idGame }}
            </h2>
            <button class="start-game-button-angular" (click)="startGame()">Comenzar partida</button>
        </div>
    </section>
}


@if(this.metoca || this.turnoService.getParteTurno()=='espera-resto'){
  <app-turno></app-turno>
 } 
 <app-tarjeta></app-tarjeta>
 <app-main-tablero [personajes]="gameService.personajes"></app-main-tablero>
 <app-chat></app-chat>
 <app-toolbar></app-toolbar>
 <app-carta-desplegable></app-carta-desplegable>
 <!-- @if(this.showCardsService.hasToShow){
   <p>cartas-show works!</p>  -->
  <app-cartas-show></app-cartas-show>
 <!-- } -->
