<div class='parent'>
	<div class='container'>
		<h1 class='inicia-sesion'>Inicia sesión</h1>
		<form #f="ngForm" class='loginForm'>
			<p class='p-login-account'>Nombre de usuario</p>
			<input type="text" placeholder="username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}"/>
			<p class='p-login-account'>Contraseña</p>
			<input type="password" placeholder="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"/>
		</form>
		<button class='styled-button' (click)="handleLogin()">Iniciar sesión</button>
	</div>
	<div>
		<a routerLink="/register-page" class='styled-link'>No tengo cuenta...</a>
		<a routerLink="/home-page" class='styled-link'>Jugar como invitado</a>   
	</div>        
</div>





<!-- <div class='parent'>
	<div class='container'>
		<h1 class='inicia-sesion'>Inicia sesión</h1>
		<form class='loginForm'>
			<p class='p-login-account'>Nombre de usuario</p>
			<input type="text" placeholder="username" #usernameInput/>
			<p class='p-login-account'>Contraseña</p>
			<input type="password" placeholder="password" #passwordInput/>
		</form>
		<button class='styled-button' (click)="handleLogin(usernameInput.value, passwordInput.value)">Iniciar sesión</button>
	</div>
	<div>
		<a routerLink="/register-page" class='styled-link'>No tengo cuenta...</a>
		<a routerLink="/game-page" class='styled-link'>Jugar como invitado</a>   
	</div>        
</div> -->

<!-- <div class='parent'>
	<div class='container'>
		<h1 class='inicia-sesion'>Inicia sesión</h1>
		<form (ngSubmit)="handleLogin()" class='loginForm'>
			<p class='p-login-account'>Nombre de usuario</p>
			<input type="text" placeholder="username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}"/>
			<p class='p-login-account'>Contraseña</p>
			<input type="password" placeholder="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"/>
		</form>
		<button class='styled-button' (click)="handleLogin()">Iniciar sesión</button>
	</div>
	<div>
		<a routerLink="/register-page" class='styled-link'>No tengo cuenta...</a>
		<a routerLink="/game-page" class='styled-link'>Jugar como invitado</a>   
	</div>        
</div> -->