<div class="home-root">
	<nav class="navbar-home">
		<div class="burger" (click)="toggleMenu()">
		  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="1.5" stroke="currentColor" class="w-6 h-6">
			<path strokeLinecap="round" strokeLinejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
		  </svg>
		</div>
	  
		<div *ngIf="isMenuOpen" class="menu">
		  <p (click)="goToProfile()">Profile</p>
		  <p (click)="logout()">Logout</p>
		</div>
	  </nav>

	<section class="aux">
	  <div	 class="home-username">
		<p>{{ username }}</p>
	  </div>
	</section>

	<div class="container-progress" [style.width]="width" [style.height]="height">
		<div class="container-styles" [style.backgroundColor]="'#e0e0de'">
			<div class="filler-styles" [style.width]="completed + '%'" [style.backgroundColor]="color"></div>		  <div class="border"></div>
		</div>
		<span class="xp-percentage" *ngIf="completed !== undefined">{{ completed }}%</span>
		<span class="xp-level" *ngIf="level !== undefined">Lvl: {{ level }}</span>
	  </div>
	  
	  <div>
		<section class="home-body">
		  <img src="assets/images/boardGame.png" alt="Tablero del juego" width="400" height="400">
		  <aside class="gameModes">
			<ng-container *ngIf="!partida">
				<button class="gamemode-button" (click)="newGameClick('l')">Crear partida solitario</button>
				<button class="gamemode-button" (click)="newGameClick('o')">Crear partida multijugador</button>
			</ng-container>
			<button class="gamemode-button" (click)="useJoinGameClick()">
			  {{partida ? 'Continuar partida: ' + partida : 'Unirse a partida'}}
			</button>
		  </aside>
		</section>
	  </div>
