<div [ngClass]="{ 'tablero-body': true, 'being-chosen': parteTurno === 'elegir-casilla' }">
<!-- <div class="tablero-body"> -->
    <div class="tablero">
        @for (fila of tablero; track fila; let indexFila = $index) {
            <div class="fila">
                @for (columna of fila; track columna; let indexColumna = $index) {
                    <app-celda 
                        [propiedadesCelda]="tablero[indexFila][indexColumna]"
                        [fila] = "indexFila"
                        [columna] = "indexColumna"
                    ></app-celda>
                } 
            </div>
        }
        <div class="texts">
            @for (habitacion of habitaciones; track habitacion; let indexHabitacion = $index) {
                <app-text [nombre]="habitaciones[indexHabitacion].roomName" 
                          [idRoom]="indexHabitacion + 1"
                          [estilo]="habitaciones[indexHabitacion].style"
                          
                ></app-text>
            }
        </div>
    </div>
</div>