<div class="parent">
    <div class='container'>
        <h1 class='registrarse'>Inicia sesión</h1>
        <div class='loginForm'>
            <p class='p-login-account'>Nombre de usuario</p>
            <input type="text" placeholder="username"/>
            <p class='p-login-account'>Contraseña</p>
            <input type="password" placeholder="password"/>
            <p class='p-login-account'>Repite la contraseña</p>
            <input type="password" placeholder="password"/>
        </div>
        <button class='styled-button' onClick={handleRegister}>Registrarse</button>
    </div> 
    <div>
        <a routerLink="login">¿Ya tienes cuenta? Inicia sesión</a>
    </div>  
</div>
