<div class="main-board">
    <div class="users-info left">
        <app-player-in-tablero [username]="getUsername(0)" [personaje]="personajes[0]" [lado]="'left'" [userReal]="gameservice.usernames[0]"></app-player-in-tablero>
        <app-player-in-tablero [username]="getUsername(1)" [personaje]="personajes[1]" [lado]="'left'" [userReal]="gameservice.usernames[1]"></app-player-in-tablero>
        <app-player-in-tablero [username]="getUsername(2)" [personaje]="personajes[2]" [lado]="'left'" [userReal]="gameservice.usernames[2]"></app-player-in-tablero>
    </div>
    <app-tablero></app-tablero>
    <div class="users-info right">
        <app-player-in-tablero [username]="getUsername(3)" [personaje]="personajes[3]" [lado]="'right'" [userReal]="gameservice.usernames[3]"></app-player-in-tablero>
        <app-player-in-tablero [username]="getUsername(4)" [personaje]="personajes[4]" [lado]="'right'" [userReal]="gameservice.usernames[4]"></app-player-in-tablero>
        <app-player-in-tablero [username]="getUsername(5)" [personaje]="personajes[5]" [lado]="'right'" [userReal]="gameservice.usernames[5]"></app-player-in-tablero>        
    </div>
</div>
