<div class="main-board">
    <div class="users-info left">
        <app-player-in-tablero [personaje]="personajes[0]" [lado]="'left'"></app-player-in-tablero>
        <app-player-in-tablero [personaje]="personajes[1]" [lado]="'left'"></app-player-in-tablero>
        <app-player-in-tablero [personaje]="personajes[2]" [lado]="'left'"></app-player-in-tablero>
    </div>
    <app-tablero></app-tablero>
    <div class="users-info right">
        <app-player-in-tablero [personaje]="personajes[3]" [lado]="'right'"></app-player-in-tablero>
        <app-player-in-tablero [personaje]="personajes[4]" [lado]="'right'"></app-player-in-tablero>
        <app-player-in-tablero [personaje]="personajes[5]" [lado]="'right'"></app-player-in-tablero>        
    </div>
</div>
