<div [style.width.px] = "estiloCelda.width" [style.height.px] = "estiloCelda.height" [class]="clase" (click)="handleClick()">
    @if (getIsDoor() != false) {
        <svg [style.rotate.deg] = "getRotation()"
            fill="none"
            viewBox="0 0 24 24"
            strokeWidth={1.5}
            stroke="currentColor"
        >
            <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3">
            </path>        
    
    </svg>
    }

    @if (getIsStartingCell() != false) {
        <svg viewBox="0 0 100 100" >
            <circle cx="50" cy="50" r="50" style.fill]="estiloCelda.fill"></circle>
        </svg>
    }
</div> 