<!-- <div class="slider-container">
    <ngx-slick-carousel [config]="settings">
      <div ngxSlickItem *ngFor="let option of options">
        <div class="slider-conatiner-card">
          Aquí puedes poner el contenido de tu carta -->
          <!-- <app-carta [player_name]="option" [hover]="false"></app-carta> -->
          <!-- <app-carta [player_name]="option" ></app-carta>
        </div>
      </div>
    </ngx-slick-carousel>
  </div> -->
 <div class="slider-container">  
  <p-carousel [value]="products" [numVisible]="1" [numScroll]="1" [circular]="false" >
    <ng-template let-product pTemplate="item">
            <div class="slider-conatiner-card">
                <!-- <h4 class="">hola</h4> -->
                <app-carta [player_name]="product" ></app-carta>
                <!-- <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"></p-tag>
                <div class="mt-5 flex align-items-center justify-content-center gap-2">
                    <p-button icon="pi pi-search" [rounded]="true" />
                    <p-button icon="pi pi-star-fill" [rounded]="true" severity="secondary" />
                </div> -->
            </div>
    </ng-template>
  </p-carousel>
</div>