 <!-- <div [ngClass]="['carta', hover ? 'carta-hover' : '']"> -->
<div class='carta'>
  <!-- <div class="image" [ngStyle]="styleImage"> -->
  <div class="image" >
    <!--
    <img src="../../../../../front-end-shared/images/personajes_imagen/png/MrSoper.png" alt="Mr. Soper"> -->
    <!-- <app-game-items player_name="SOPER"></app-game-items>
    <app-game-items player_name="SOPER"></app-game-items> -->
    <!-- <img src="../../../../../front-end-shared/images/personajes_imagen/png/MrSoper.png" /> -->
    <app-game-items> </app-game-items>
  </div>
  <!-- <h1 *ngIf="player_name !== 'back'">{{ player_name?.toUpperCase() }}</h1> -->
</div> 